._*
.DS_Store
.Apple*
.idea
*.log

application/library/Petrosight/Entity/Proxy
application/library/Petrosight/Entity/Proxy/*
application/library/Petrosight/EntityProxy
application/library/Petrosight/EntityProxy/*
public/js/build
public/js/build/*
public/plugins/build
public/uploads/*

library/Zend

data/*/*
